html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border: none;
    background-color: rgb(27, 97, 37);
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 6px;
    
}
button:hover{
    background-color: rgb(27, 46, 25);
   
}