html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
.container{
    display: flex;
    justify-content: space-around;
    align-content: center;
}
button{
    border: none;
    background-color: rgb(36, 108, 47);
    color: white;
    padding: 1.3rem;
    font-size: 2.5rem;
    border-radius: 10px;
    margin: 20px;
}
button:hover{
    background-color: rgb(27, 46, 25);
    
}
